@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --color-primary: whitesmoke;
    --color-secondary: #0d56a3;
    --bg-card-info: linear-gradient(60deg, #0d56a3 0%, #e70c0c 100%);
    --main-title: rgb(197, 20, 20);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--color-primary);
}


a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Apresentação */

#s-header{
    background-image: url(../../assets/images/sv-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#s-header h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#s-header h1:nth-child(1){
    animation-delay: .8s;
}

#s-header h1:nth-child(2){
    animation-delay: 1.8s;
}

#s-header h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#s-header .cta{
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-primary);
    background-color: transparent;
    border: 2px solid var(--color-secondary);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}

#s-header .cta:hover{
    color: var(--color-secondary);
    font-weight: 500;
    background-color: var(--color-primary);
}

#s-header h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: var(--color-secondary);
}

#s-header h1:nth-child(1) span{
    animation-delay: .5s;
}

#s-header h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#s-header h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#s-header::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

/* Keyframes */

@keyframes text_reveal{
    100%{
        color: var(--color-primary);
    }
}
@keyframes text_reveal_name{
    100%{
        color: var(--color-secondary);
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}

/* Seção  Principal */

#s-main .s-main--header h1{
    font-size: 4rem;
    font-weight: 500;
    color: var(--main-title);
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

#s-main h1{
    margin-bottom: 50px;
}

#s-main .s-main--header, .s-cards{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#s-main .s-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#s-main .s-card--item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#s-main .s-card--info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: var(--bg-card-info);
    color: var(--color-primary);
}

#s-main .s-card--info h1{
    font-size: 4rem;
    font-weight: 500;
}

#s-main .s-card--info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#s-main .s-card--img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#s-main .s-card--img::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.6;
}

#s-main .s-card--img img{
    transition: 0.5s ease transform;
}

#s-main .s-card--item:hover .s-card--img img{
    transform: scale(1.1);
}

/* Media Query */
@media only screen and (min-width: 768px) {
    #s-main .s-card--item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #s-main .s-cards .sv-card--info{
        height: 100%
    }
    #s-main .s-cards .s-card--img{
        height: 100%
    }
    #s-main .s-card--item:nth-child(even) {
        flex-direction: row-reverse;
    }


}